<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samue.jianghureader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.samue.jianghureader.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.samue.jianghureader.ChapterActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ChapterActivity" />
        </activity>

        <activity
            android:name="com.example.samue.jianghureader.ReadingActivity"
            android:theme="@style/ReadingActivityTheme"
            android:parentActivityName=".ChapterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChapterActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="wuxiaworld.com" />
                <data android:host="www.wuxiaworld.com" />
                <data android:host="m.wuxiaworld.com" />
            </intent-filter>

        </activity>
        <activity android:name="com.example.samue.jianghureader.SettingsActivity"
            android:label="Settings">
            <!-- android:parentActivityName=".MainActivity"> -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingsActivity" />
        </activity>

        <provider
            android:name=".data.NovelProvider"
            android:authorities="com.example.samue.jianghureader"
            android:exported="false" />
    </application>

</manifest>